.pytest_cache/
build/
src/cumulus.egg-info/
src/**/__pycache__/
data/artifacts/nationwide/*
!data/artifacts/nationwide/.gitkeep
data/artifacts/seasonal_map/*
!data/artifacts/seasonal_map/.gitkeep
*.log
*.err.log
